{% extends "bootstrap/base.html" %}
{% block title %}Anzeige Tafel{% endblock %}

{% block styles %}
<!-- CSS only -->
<link href={{ url_for('static', filename='bootstrap.min.css' )}} rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %}

{% block scripts %}

<script type="text/javascript" src={{ url_for('static', filename='bootstrap.min.js' )}}></script>
<script type="text/javascript" src={{ url_for('static', filename='jquery.min.js' )}}></script>
<script type="text/javascript" src={{ url_for('static', filename='socket.io.min.js' )}}></script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Anzeigetafel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/tool">Tool</a>
          <a class="nav-link" href="/mode">Mode</a>
          <a class="nav-link disabled">Disabled</a>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}


{% block content %}
{% endblock %}